@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@font-face {
  font-family: Poppins;
  src: url(./Assets/Poppins/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

.main {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
}

.homepage {
  background-image: url(/Assets/header-shapes-mobile.png);
  padding: 5%;
  margin: 2% 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  background-position: center;
  border-radius: 0 0 0 80px;
}

/* top header css */

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 2em;
  margin: auto;
  margin-top: 2em;
}

.nav-menu {
  display: flex;
}

.nav-pages {
  list-style: none;
  display: none;
  justify-content: space-around;
  padding-right: 50%;
}

.nav-pages li {
  margin-right: 35%;
  padding-right: 20%;
}

.logo a {
  text-decoration: none;
}

.nav-pages li a {
  text-decoration: none;
  color: black;
}

.logo h1 {
  color: #6070ff;
}

.logo-img {
  width: 4.75em;
  height: 1.25em;
}

/* secondary header css */

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.2em;
}

.main-text {
  margin-top: 2em;
  font-weight: 700;
  line-height: 52px;
  z-index: 1;
  text-align: left;
  font-size: 2.5em;
}

.secondary-text {
  font-weight: 400;
  line-height: 24px;
  margin-top: 8%;
}

/* connect section css */

.social-container {
  padding: 2em 0;
  margin-bottom: 2.5em;
  width: 100%;
}

.connect-title {
  font-weight: 500px;
  line-height: 24px;
  font-style: normal;
  margin: 0.93em 0;
  color: #7f8cff;
}

.connect-icons img {
  margin-right: 5%;
}

.connect-icons {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

/* project body */

.work-container {
  background-color: #e5e5e5;
}

.work-container-background {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe1e6;
  margin-top: 10%;
  border-radius: 16px;
}

.work-image-container {
  padding: 1em;
}

.work-image-container img {
  width: 100%;
}

.work-text-container {
  display: grid;
  grid-template-rows: 30% 30% 40%;
  grid-template-areas:
    "title"
    "body"
    "button";
  margin: auto;
  background-color: #fff;
  padding: 0 2.5em;
}

.card-title {
  grid-area: title;
}

.card-body {
  grid-area: body;
}

.card-button {
  grid-area: button;
  margin-top: 1em;
}

.work-text-container h1 {
  font-size: 2rem;
  margin-bottom: 2%;
}

.work-text-container p {
  margin-bottom: 4%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.work-text-container ul {
  margin-top: 1%;
  list-style: none;
}

.work-complementary-text {
  width: 100%;
  margin-bottom: 7%;
}

.work-complementary-list {
  display: flex;
  width: 100%;
  font-size: 0.8rem;
}

.work-complementary-list img {
  margin-right: 0.3rem;
}

.canopy {
  font-weight: 600;
  color: #344563;
  font-style: normal;
  font-size: 0.8rem;
}

.canopy-complement {
  color: #7a869a;
  font-weight: 600;
  font-size: 0.8rem;
}

.canopy-complement img {
  margin-right: 0.7rem;
}

.connect-icons li {
  margin-right: 1.5em;
}

.work-text-container ul li {
  margin-right: 0.7rem;
}

.buttons-work-container {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-bottom: 5%;
}

.btn-work-style {
  background-color: #ebebff;
  border-radius: 5px;
  padding: 2% 5%;
  color: #6070ff;
  font-size: 0.75rem;
}

.button-work-project {
  font-size: 0.75rem;
  color: #396df2;
  padding: 3% 5%;
  border-radius: 5px;
  margin: 1.5em 0;
  background-color: #fff;
  border: 1px solid #396df2;
}

.button-work-project:hover {
  background-color: #396df2;
  color: #fff;
  transform: scale(1.1);
  transition-duration: 0.5s;
}

/* About Section */

.about-container {
  background-color: #fff;
  margin: auto;
  border-radius: 0 80px 0 0;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  padding: 0 2.5em;
  margin-left: 2.5em;
}

.about-text {
  margin-top: 18%;
  width: 30%;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1em;
}

.about-secondary-text {
  margin-top: 5%;
  font-weight: 400;
  line-height: 24px;
}

.about-connect-title {
  font-weight: 500px;
  line-height: 24px;
  font-style: normal;
  width: 7.3em;
  height: 1.5em;
  margin: 0.93em 0;
  color: #7f8cff;
}

.button-resume-div {
  margin-top: 1em;
}

.button-resume {
  font-size: 0.75rem;
  color: #396df2;
  padding: 1em 2em;
  border-radius: 5px;
  margin: 3% 0;
  background-color: #fff;
  border: 1px solid #396df2;
}

.languages {
  padding: 0 2.5em;
  margin: auto;
  padding-bottom: 15em;
}

.language-title {
  padding: 10% 0;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 24px;
  list-style: none;
}

.languages-list {
  padding: 2em 0;
  display: inline-block;
}

.language-list-header {
  display: none;
}

.languages-li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0.5em;
  background-color: #f7f7f9;
  margin-bottom: 3%;
  padding-right: 10em;
}

.languages-li img {
  margin-right: 10%;
  margin-left: 3%;
}

.languages-li p {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 20px;
}

.framework-title {
  padding: 5% 0;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 24px;
  border-bottom: 1px solid #dfe1e6;
  display: flex;
  justify-content: space-between;
}

.framework-title img {
  width: 0.5em;
  margin-right: 13%;
  height: 0.8em;
  margin-top: 2%;
}

.contact-section {
  background-color: white;
}

.contact-form {
  background-color: #6070ff;
  background-image: url(/Assets/contact-form-shapes-mobile.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 2.1em;
  padding-bottom: 3em;
  border-radius: 80px 0 0 0;
  background-position: 100% 90%;
}

.contact-form h6 {
  font-size: 2.5em;
  font-weight: 700;
  color: #fff;
  padding-top: 2.5em;
  padding-bottom: 1em;
  margin: auto;
}

.contact-form p {
  font-size: 20px;
  line-height: 1.75em;
  color: #ebebff;
  margin: auto;
  padding-bottom: 2em;
  text-align: center;
}

.name-input,
.email-input {
  background-color: #fff;
  border: 1px solid #cfd8dc;
  height: 3em;
  width: 100%;
  margin: 0.5em 0;
  border-radius: 5px;
}

.body-input {
  background-color: #fff;
  border: 1px solid #cfd8dc;
  height: 6em;
  width: 100%;
  margin: 0.5em 0;
  border-radius: 5px;
}

fieldset {
  border: 0 solid #6070ff;
}

.form-btn-submit {
  padding: 0.75em 1em;
  background-color: #fff;
  color: #6070ff;
  margin-top: 1em;
  border: 0 solid;
  border-radius: 5px;
}

input::placeholder {
  padding-left: 1em;
  color: black;
}

textarea::placeholder {
  color: gray;
  padding-left: 1em;
  padding-top: 0.8em;
}

@media only screen and (min-width: 768px) {
  header {
    padding-left: 2.5em;
  }

  .nav-menu {
    display: block;
  }

  .nav-pages {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-right: 50%;
  }

  .menu-icon img {
    display: none;
  }

  .homepage {
    background-image: url(Assets/Desktop/Header-desktop_bg.png);
    background-repeat: no-repeat;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
  }

  .text-container {
    align-items: flex-start;
  }

  .main-text {
    padding-right: 40%;
    font-size: 3em;
    padding-left: 1em;
  }

  .secondary-text {
    font-size: 1.25em;
    padding: 0 2.5em;
  }

  .social-container {
    padding-right: 50%;
    margin-left: 6em;
    padding-bottom: 4em;
  }

  .work-container {
    margin: 0 5%;
  }

  .work-container-background {
    display: flex;
    flex-direction: row;
  }

  .multi-post {
    display: flex;
    flex-direction: row-reverse;
  }

  .work-image-container {
    margin: auto;
  }

  .work-image-container img {
    width: 100%;
  }

  .work-text-container {
    padding: 1em;
    margin-left: 2em;
  }

  .work-text-container h2 {
    font-size: 2.5rem;
  }

  .about-container {
    display: flex;
    flex-direction: row;
  }

  .about-text-container {
    width: 45%;
    padding: 0;
    line-height: 1.5em;
    padding-left: 2em;
  }

  .languages {
    width: 50%;
  }

  .languages-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .language-list-header {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .languages-li {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    margin-right: 1em;
    padding-right: 2em;
  }

  .languages-li img {
    padding-bottom: 0.2em;
  }

  .language-list-header li img {
    padding-right: 3.5em;
  }

  .language-list-body {
    display: flex;
  }

  .contact-form {
    padding: 0 30%;
    background-image: url(Assets/Desktop/desktop_contact_form_background_shapes.png);
    background-repeat: no-repeat;
  }

  .form-btn-submit {
    display: block;
    margin: auto;
    margin-bottom: 5em;
  }

  .card-nature {
    order: 1;
  }

  .card-professional-art {
    order: 2;
  }

  .card-availability {
    order: 4;
  }

  .card-orangeimage {
    order: 3;
  }

  .card-about {
    order: 5;
    margin-top: 5%;
  }

  .contact-section {
    order: 6;
  }

  .card-orangeimage button {
    background-color: #4053fc;
    color: white;
  }

  .button-work-project:hover {
    font-size: 0.75rem;
    color: #396df2;
    padding: 3% 5%;
    border-radius: 5px;
    margin: 1.5em 0;
    background-color: #fff;
    border: 1px solid #396df2;
  }
}
